<div class="page col-sm-12">
	<div class="page-breadcrumb">
		<cmi-viaduc-breadcrumb [items]="crumbs"></cmi-viaduc-breadcrumb>
	</div>
	<h1>
		{{'Hochschularchiv der ETH Zürich Virtueller Lesesaal' | translate: 'registerInfo.title'}}
	</h1>
	<p [innerHtml]='getTextZugangEIam()'></p>
	<div class="row">
		<div class="col-md-12">
			<div class="account-type-info clearfix">
				<cmi-viaduc-account-type-info-list class="pull-right" [isRegistered]="false" [isIdentified]="false" [canCollapse]="true"></cmi-viaduc-account-type-info-list>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>Sofern Sie noch kein Konto eröffnet haben, müssen Sie sich registrieren. Informationen zum Registrierungsprozess finden Sie unter
				<a href="{{'/informationen/registrieren-und-identifizieren' | translate:'registerInfo.test'}}" target="_blank">Registrieren und Identifizieren</a>.
			</p>
		</div>
	</div>
	<div class="pull-right">
		<button class="btn"  (click)="cancel()">
			{{'Abbrechen' | translate: 'registerInfo.cancelRegister'}}
		</button>
		<button class="btn btn-primary" (click)="login()">
			{{'Registrieren' | translate: 'registerInfo.registerImEiam'}}
		</button>
	</div>
</div>
