<div class="file-section" *ngIf="entity">
	<div class="row" *ngFor="let file of files;">
		<div class="col col-xs-1">
			<span style="font-size: 16px;">
				<i class={{getSymbolClass(file.extension)}}></i>
			</span>
		</div>
		<div class="col col-xs-11">
			<strong><a href={{getFileUrl(file.filename)}} target="_blank" ><span>{{file.filename}}</span></a></strong>
			<span>({{file.sizeInBytes | measure:'FileSize'}})</span>
			<span style="font-size: 16px;">
				<a href={{getFileUrl(file.filename)}} download><i class="fa-solid fa-file-arrow-down fa-sm"></i></a>
			</span>
			<br/><span *ngIf="file.art">Art: &nbsp;{{file.art}}</span>
			<br/><span *ngIf="file.description">{{file.description}}</span>
		</div>
	</div>
</div>