<sustainsys.saml2 entityId="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Url@@"
                    returnUrl="@@CMI.Web.Frontend.AppData_Template.ManagementClientUrl@@/#/auth/success"
				    modulePath="/AuthServices"
                    authenticateRequestSigningBehavior="Always">
	<identityProviders>
		<add entityId="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Url@@"
		 loadMetadata="true"
		 metadataLocation="@@CMI.Web.Frontend.AppData_Template.IdpMetadata.Location@@"
		 allowUnsolicitedAuthnResponse="true"
		 disableOutboundLogoutRequests="true"
		 logoutUrl="@@CMI.Web.Management.AppData_Template.ManagementLogoutReturnUrl@@" />
	</identityProviders>
	<serviceCertificates>
		<add fileName="~/App_Data/Sustainsys.Saml2.Tests.pfx" />
		<!--<add storeName="My" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" findValue="243a0621b121a1321b2509666ce7c94607d73570" use="Signing" status="Current" />-->
	</serviceCertificates>
	<requestedAuthnContext classRef="PasswordProtectedTransport">
	</requestedAuthnContext>	
</sustainsys.saml2>