<nav id="facette-main-nav" class="nav-page-list nav-page-list--facette">
	<a (click)="toggleStatus()" class="icon icon--before icon--less facette-header" (keydown.enter)="toggleStatus()" tabindex="0">
		{{'Filter ausblenden' | translate:'facette.hideFilter' }}
	</a>
	<a tabindex="0" *ngIf="activeFacets?.length > 0" (keyup.enter)="resetFilters()" (click)="resetFilters()"
	   class="icon icon--after icon--close reset-filters">{{'Alle Filter zurücksetzen ({0})'|
		translate:'facette.clearAll': activeFacets?.length}}</a>
	<ul>
		<div *ngFor="let fac of enumerableFacetts">
			<li>
				<cmi-viaduc-facette
					*ngIf="hasItems(fac)"
					[key]= "fac.key"
					[facette]= "fac"
					[activeFilterStrings]="getActiveFilterStringsForFacette(fac.key)"
					[collapsed]= "_collapsed"
					(onFilter)="onFilterApplied($event)"
					(onFacetteShowAll)="onShowAllFilterApplied($event)"
					facetteTitle="{{fac.translationPath | translate: fac.translationPath }}">
				</cmi-viaduc-facette>
			</li>
		</div>
	</ul>
</nav>
